= simple_form_for([@post, @review]) do |f|
  .form-group
    = f.input :rating, input_html: { class: 'form-control' } 
  .form-group
    = f.input :comment , input_html: { class: 'form-control' }

  = f.button :submit, class: 'btn btn-primary' 

:javascript 
	$("#rating-form").raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});